extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Mahsulotlar
  each car ,i in cars       
    h1 #{car.name}
    div.links 
     a(href=`/product/add`) Add 
     a(href=`/product/${car.id}`) Edit
     a(href=`/product/delete/${car.id}`) Delete
